<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>상품 상세보기</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">

  <h1>상품 상세보기</h1>

  <table class="table table-striped table-bordered">
    <tr>
      <th>상품명</th>
      <td th:text="${item.itemName}">상품명</td>
    </tr>
    <tr>
      <th>가격</th>
      <td th:text="${item.price}">가격</td>
    </tr>
    <tr>
      <th>재고</th>
      <td th:text="${item.stockNumber}">재고</td>
    </tr>
    <tr>
      <th>상품 설명</th>
      <td th:text="${item.itemDetail}">설명</td>
    </tr>

    <tr>
      <th>상품 이미지</th>
      <td>
        <div th:if="${#lists.isEmpty(item.images)}">
          등록된 이미지가 없습니다.
        </div>

        <div class="d-flex flex-wrap gap-2"
             th:if="${!#lists.isEmpty(item.images)}">
          <img th:each="img : ${item.images}"
               th:src="${img.imagePath}"
               class="img-thumbnail me-2 mb-2"
               style="max-width: 200px; height: auto;"
               alt="상품 이미지">
        </div>

  </table>

<br>

  <!-- 목록 페이지로 이동 -->
  <div class="d-flex justify-content-end mb-3">
    <a th:href="@{/item/modify/{id}(id=${item.id})}" class="btn btn-primary btn-sm">
    수정하기
    </a>
  </div>


  <div class="d-flex justify-content-end mb-3">
    <a href="javascript:void(0);"
       th:data-uri="@{/item/delete/{id}(id=${item.id})}"
       class="delete btn btn-outline-danger  btn-outline-secondary">
      삭제하기
    </a>
  </div>






  <div class="d-flex justify-content-end mb-3">
    <a th:href="@{/item/list}" class="btn btn-secondary  btn-sm">
      목록으로 돌아가기
    </a>
  </div>
</div>

<script layout:fragment="script" type='text/javascript'>
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach(function(element) {
      element.addEventListener('click', function() {
          if(confirm("정말로 삭제하시겠습니까?")) {
              location.href = this.dataset.uri;
          };
      });
  });
</script>



</body>
</html>
